<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>西安电子科技大学召开庆祝教师节暨表彰大会</string>
		<key>time</key>
		<string>2016-09-08 20:39:48</string>
		<key>text</key>
		<string>9月8日下午，西安电子科技大学2016年庆祝教师节暨先进表彰大会在北校区大礼堂隆重举行。党委书记陈治亚发表讲话，副校长杨银堂宣布学校表彰决定，党委副书记、纪委书记蒋舜浩宣布工会表彰决定。副校长李建东、总会计师刘延平出席表彰大会。表彰大会由党委副书记龙建成主持。</string>
		<key>pic</key>
		<string>http://news.xidian.edu.cn/_mediafile/xww/2016/09/08/1uvy8x1dnc.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>西电举行2016级新生军训汇报表演暨总结表彰大会</string>
		<key>time</key>
		<string>2016-09-10 13:28:57</string>
		<key>text</key>
		<string>秋高气爽，军旗飘扬。9月10日上午8时，西安电子科技大学2016级新生军训汇报表演暨总结表彰大会在南校区硬化操场隆重举行。校党委副书记、学生军训工作领导小组组长龙建成检阅了受训官兵并作总结讲话。副校长、学生军训工作领导小组副组长李建东宣读了授奖决定。
中国人民解放军边防学院副院长赵天印大校，西电党委副书记、纪委书记蒋舜浩，中国人民解放军空军驻西电选培办主任郑军大校，中国人民解放军边防学院学生军训教研室主任刘法语上校，中国人民解放军边防学院学生军训教研室教授李新柱大校，学校各职能部处负责人，部分院系相关领导及5500多名新生参加了本次大会。    </string>
		<key>pic</key>
		<string>http://news.xidian.edu.cn/_mediafile/xww/2016/09/10/2boq75k0x4.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>西电学子在2016年陕西省（TI）杯竞赛中取得佳绩</string>
		<key>time</key>
		<string>2016-09-09 11:08:09</string>
		<key>text</key>
		<string>近日，从陕西省（TI）杯模拟模数混合电路应用设计竞赛组委会传来喜报，经过西安电子科技大学学子的奋力拼搏，最终获省级一等奖11项、二等奖4项、三等奖6项，学校获一等奖数及获奖总数均居全省第一。同时，西电王海、王水平、谢楷、孙文方等4位教师获省优秀指导教师奖，学校获优秀组织单位奖。
本次大赛由陕西省教育厅主办，西安电子科技大学承办，旨在深化电子信息类学科专业教学改革，提高大学生创新意识和实践能力。7月29日上午，评审工作在西安电子科技大学南校区正式拉开帷幕，来自全省51所高校的531支队伍济济一堂，围绕相关奖项展开激烈角逐。
本次评审，陕西赛区组委会共组织16位来自全省高校的专家，分5个测试组进行测评。全国专家组副组长、赛区专家组组长傅丰林教授介绍了竞赛题目、全国评测标准及专家评审要求。全体专家分组讨论了具体的评审细则。经过多日的紧张测试与报告审阅，省专家组拟评出省一等奖53支队，二等奖76支队，三等奖126支队。</string>
		<key>pic</key>
		<string>http://news.xidian.edu.cn/_mediafile/xww/2016/09/09/2hu6to5xs1.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>全省网络安全防护技能培训班在西电举行</string>
		<key>time</key>
		<string>2016-09-09 10:52:10</string>
		<key>text</key>
		<string>为进一步加强全党全社会网络安全意识，发动全社会参与维护网络安全，积极响应第三届国家网络安全宣传周活动的号召，由陕西省委网信办主办、西安电子科技大学网络与信息安全学院承办的“网络安全宣传周”系列活动之全省网络安全防护技能培训班暨开班仪式于9月7日上午8点30分在北校区老科技楼报告厅隆重举行。中央网信办网络安全协调局副局长卿昱、陕西省委宣传部副部长/陕西省网信办主任孙琳、西安电子科技大学副校长杨银堂出席仪式，陕西省党政机关以及陕西省各市、区网信办等40余家单位参加了此次会议，会议由陕西省网信办副巡视员王创主持。</string>
		<key>pic</key>
		<string>http://news.xidian.edu.cn/_mediafile/xww/2016/09/09/7lqcx9dxbw.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>学校对2016级新生开展防电信诈骗学习教育活动</string>
		<key>time</key>
		<string>2016-09-09 23:00:00</string>
		<key>text</key>
		<string>从9月1日开始，学校在全体2016级本科生开展防电信诈骗学习教育活动。活动由各军训连指导员主持，利用军训休息的间隙组织学生学习。</string>
		<key>pic</key>
		<string>http://news.xidian.edu.cn/_mediafile/xww/2016/09/09/223eexke7a.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>南校区图书馆顺利完成2016年考研专修自习室座位分配工作
</string>
		<key>time</key>
		<string>2016-09-09 22:55:12</string>
		<key>text</key>
		<string>9月8日，南校区图书馆公布了2016年度图书馆A区考研专修自习室的分配结果。经过两天的有序登记，今年共有2889名大四在校生登记了座位需求，数量较去年有所增长。</string>
		<key>pic</key>
		<string>http://news.xidian.edu.cn/_mediafile/xww/2016/09/09/28feo5ke45.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>计算机学院召开2016培养方案新增课程研讨会</string>
		<key>time</key>
		<string>2016-09-09 22:51:29</string>
		<key>text</key>
		<string>9月8日晚上19:00，计算机学院在北校区主楼IV-218会议室召开新增课程评审会暨培养方案修订第四轮研讨会。会议由教学副院长崔江涛教授主持，学院省级、校级名师及系主任等共8人参加会议。</string>
		<key>pic</key>
		<string>http://news.xidian.edu.cn/_mediafile/xww/2016/09/09/2cc6upqe0s.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>工会组织分会召开工会工作会议</string>
		<key>time</key>
		<string>2016-09-09 22:26:55</string>
		<key>text</key>
		<string>9月5日下午，工会组织各分会主席、教代会代表团团长在南校区603会议室召开工会工作会议。</string>
		<key>pic</key>
		<string>http://news.xidian.edu.cn/_mediafile/xww/2016/09/09/274xvbhdg6.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>西北农林科技大学工会一行来我校工会调研交流</string>
		<key>time</key>
		<string>2016-09-09 22:11:10</string>
		<key>text</key>
		<string>9月6日下午，西北农林科技大学工会常务副主席刘有全及副主席史明霞、张小绒等一行六人来校调研工会工作，校工会在北校区文化活动中心会议室组织双方座谈交流。</string>
		<key>pic</key>
		<string>http://news.xidian.edu.cn/_mediafile/xww/2016/09/09/2jlgsa8d5k.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>西电开学 校长寄语研究生要永葆情怀爱国为民</string>
		<key>time</key>
		<string>2016-09-05 14:47:36</string>
		<key>text</key>
		<string>在现代舞《逐梦青春》、阿卡贝拉《夜空中最亮的星》、小提琴与二胡独奏、歌曲《我爱你中国》节目中，今天（9月2日）下午，西安电子科技大学3232名研究生迎来了开学典礼。</string>
		<key>pic</key>
		<string>http://news.xidian.edu.cn/_mediafile/xww/2016/09/05/2bslkoedh1.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>西电新入学研究生宣誓恪守学术道德</string>
		<key>time</key>
		<string>2016-09-05 10:40:09</string>
		<key>text</key>
		<string>“诚实守信、求真务实、严于律己、刻苦钻研、勇于探索、锐意进取、崇尚学术、追求卓越”，昨日下午，西安电子科技大学2016级研究生开学典礼上，2000名新入学研究生，右手握拳庄严郑重宣誓。</string>
		<key>pic</key>
		<string>http://news.xidian.edu.cn/_mediafile/xww/2016/09/05/35er3jl7rs.jpg</string>
	</dict>
</array>
</plist>
